.telegramlogo {
    width: 150px;
    height: auto;
    /* padding-top: 10px; */
}

.telegramtext {
    padding-top: 10px;
}

.instagramlogo {
    width: 150px;
    height: auto;
    padding-top: 5px;
}

.instagramtext {
    padding-top: 10px;
}