.telegramlogo {
    width: 190px;
    height: auto;
    padding-top: 65px;
}

.telegramtext {
    padding-top: 10px;
}

.instagramlogo {
    width: 190px;
    height: auto;
    padding-top: 25px;
}

.instagramtext {
    padding-top: 10px;
}